:root {
    --color: #2C2828;
    --primary-color: #FB5A00;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    color: var(--color);
}

.title {
    font-size: 45px;
    font-weight: 700;
    color: var(--color);
    font-family: 'DM Sans', sans-serif;
}

.h2-title {
    font-family: 'DM Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: var(--color);
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

/* Main */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main {
    background-image: url('./assets/main-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

main::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(103.89deg, rgba(255, 255, 255, 0.75) 5.8%, rgba(128, 128, 128, 0.3) 81.48%);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.main__inner {
    z-index: 10000;
    position: relative;
}

.main-title {
    width: 55%;
}

span {
    color: var(--primary-color)
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.round-btn {
    border: 1px solid var(--color);
    border-radius: 120px;
    padding: 0px 20px;
    width: 30%;
    font-size: 15px;
    text-align: center;
}

.round-btn span {
    font-size: 10px;
    color: var(--color);
}

.main-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.main-circle img {
    margin-bottom: 25px;
}

.main-second-title {
    font-size: 25px;
    font-weight: 700;
    text-align: right;
}

.main-icons img:first-child {
    margin-right: 30px;
}

.main-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.contact {
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact:last-child {
    margin-right: 0px;
}

.contact img {
    margin-right: 5px;
}

/* Second section */

section.second {
    background-image: url('./assets/second-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-title {
    color: #fff;
    padding-top: 30px;
    margin-left: 70px;
    margin-bottom: 70px;
}

.second-subtitles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 340px;
}

.subtitle {
    font-size: 25px;
    font-weight: 700;
}

.subtitle span {
    font-size: 60px;
}


.subtitle:first-child, .subtitle:first-child span {
    color: #fff;
}

.subtitle:first-child {
    padding-left: 30px;
    background-color: black;
    margin-right: 30px;
}

.subtitle {
    color: black;
    background: rgba(255, 255, 255, 0.65);
    padding-right: 20px;
}

.subtitle span {
    color: black;
}

.second-end {
    display: flex;
    justify-content: end;
}

.end {
    font-size: 25px;
    background-color: black;
    font-weight: 700;
    color: #fff;
    padding-right: 20px;
    margin-bottom: 40px;
}

.second-end span {
    color: #fff;
    font-size: 60px;
}

/* About */

.about {
    display: flex;
    flex-direction: row;
    background-color: #E7EFEB;
}

.about-text {
    margin-left: 80px;
    padding-top: 60px;
}

.text {
    width: 65%;
}

.text:first-child {
    margin-bottom: 130px;
}

.text-title {
    margin-bottom: 25px;
}

/* Third */
.third {
    background-color: #E7EFEB;
}

.third-title {
    text-align: center;
    padding: 20px 0px;
}

.third-cardlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.third-cardlist>* {
    width: 46%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.card-image {
    display: flex;
}

.card-image::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    position: absolute;
    top: 50%;
    z-index: 1000;
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    line-height: 26px;
    width: 100%;
    text-align: center;
    line-height: 54px;

}

/* Four */
.four-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    padding: 10px 0px;
}

.four-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.content-item {
    width: 45%;
}

.content-item:first-child .item-title {
    margin-top: 50px;
    text-align: center;
    line-height: normal;
}

.content-item .item-title {
    text-align: left;
    margin-bottom: 65px;
}

.item-image {
    display: flex;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 58px;
    text-align: center;
}

.item-title:first-child {
    line-height: normal !important;
}

/* Five */

.five {
    background-color: #E7EFEB;
}

.five-title {
    text-align: center;
    padding: 20px 0px;
}

.five-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.five-item {
    /* width: 30%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five-item-text {
    position: absolute;
    width: 80%;
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #fff;
}

.five-item-image {
    display: flex;
}

.five-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.five-section-btn {
    justify-content: center;
    display: flex;
    padding: 50px 0px;
}

.five-btn {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 120px;
    border: 1px solid #064EA4;
}

/* Callback */

.callback {
    background-image: url(./assets/callback.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.callback-title {
    width: 84%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.callback-form {
    width: 50%;
}

.callback-form form {
    display: flex;
    flex-direction: column;

}

.callback-form form input, textarea {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    border-radius: 120px;
    color: black;
    border: 1px solid black;
    background-color: #CFCFD380;
    padding: 10px 30px;
}

.callback-form form textarea {
    border-radius: 25px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}

.submit {
    border: 2px solid#064EA4 !important;
    background-color: transparent !important;
    margin-left: 25px;
    cursor: pointer;
}

.form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.callback-info {
    padding-top: 120px;
    padding-bottom: 20px;
}

span.callcopy {
    color: black;
    text-decoration: underline;
}

/* Contacts */
.contacts {
    background-color: #E7EFEB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.contacts-image {
    display: flex;
    width: 30%;
    height: 650px;
}

.contacts-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.contacts-list>* {
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    color: black;
    margin-bottom: 25px;
}

.contacts-info {
    padding-top: 40px;
    width: 30%;
}

.contact-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.contact-item {
    margin-bottom: 30px;
}

.contact-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.contacts-copy {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: end;

    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 30px;
}

.contacts-copy a {
    text-decoration: underline;
    margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 756px) {
    .main-logo img {
        width: 180px;
    }

    .main-circle {
        display: none;
    }

    .title {
        font-size: 15px;
    }

    .main-title {
        width: 85%;
        /* padding-left: 20px; */
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    .main-second-title {
        font-size: 10px;
        width: 50%;
    }

    .main-right {
        padding-top: 40px;
        padding-bottom: 20px;
        display: flex;
        justify-content: end;
        padding-right: 20px;
    }

    .main-contacts {
        display: none;
    }

    /* ============= */

    .second-title {
        text-align: center;
        margin: 0;
    }

    .second-subtitles {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .subtitle {
        font-size: 10px;
        padding: 10px 10px;
        width: 80%;
    }

    .subtitle:first-child {
        margin-bottom: 20px;
    }

    .num {
        font-size: 15px !important;
        margin-right: 5px;
    }

    .second-end {
        justify-content: center;
    }

    .end {
        width: 80%;
        font-size: 10px;
        padding: 10px 10px;
    }

    /* =============== */
    .text-title {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .text-subtitle {
        font-size: 8px;
    }

    .about-image {
        display: flex;
        /* height: 200px; */
        width: 40%;
    }

    .about-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-text {
        width: 50%;
        padding-top: 10px;
        margin-left: 5px;
    }

    .text {
        width: 80%;
    }

    .text:first-child {
        margin-bottom: 15px;
    }

    .third-title {
        font-size: 10px;
    }

    /* ------========= */
    .card-title {
        font-size: 15px;
    }

    .third-cardlist {
        flex-direction: column;
        align-items: center;
    }

    .third-cardlist>* {
        width: 80%;
    }

    /* ================ */
    .four-title {
        font-size: 10px;
        line-height: unset;
    }

    .four-content {
        flex-direction: column;
        align-items: center;
    }

    .item-image {
        width: 100%;
    }

    .content-item {
        width: 100%;
    }

    .content-item .item-title {
        margin: 10px 0px !important;
    }

    .item-title {
        font-size: 10px;
    }

    .content-item:first-child {
        display: flex;
        flex-direction: column-reverse;
    }

    /* ----------= */
    .five-title {
        font-size: 10px;
    }

    .five-item-text {
        font-size: 20px;
    }

    .five-contents {
        flex-direction: column;
    }

    .five-item {
        width: 80%;
        margin-bottom: 10px;
    }

    .five-item:last-child {
        margin-bottom: 0px;
    }

    .five-section-btn {
        display: none;
    }

    /* ===================== */

    .callback-title {
        font-size: 10px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }

    .callback-form {
        width: 100%;
    }

    .callback-form form input, .callback-form form textarea {
        font-size: 10px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }

    .form-control {
        flex-direction: column;
    }

    .check input {
        margin: 0px 0px 0px 0px !important;
    }

    .check {
        font-size: 10px;
        align-items: center;
        margin-bottom: 10px;
    }

    .submit {
        margin-left: 0px;
        font-size: 15px !important;
        padding: 5px 25px !important;
    }

    .callback-info {
        font-size: 4px;
        padding-top: 20px;
    }

    .contacts-image {
        display: none;
    }

    .contacts-list {
        padding-top: 10px;
    }

    .contacts-list a {
        font-size: 5px;
        margin-bottom: 10px;
    }

    .contact-title {
        font-size: 10px;
        margin-bottom: 15px;
    }

    .contact-item {
        margin-bottom: 10px;
    }

    .contact-details {
        font-size: 5px;
    }

    .contact-details img {
        width: 16px;
        height: 16px;
    }

    .contacts-copy {
        font-size: 8px;
    }

    .contacts-info {
        padding-top: 10px;
    }
}